*.sublime-workspace
/source/lib/vendor
/public_html/assets/bower_components
/.idea
*.sublime-project
/source/data/cache/templates
/source/data/cache/serializer
/source/data/cache/filecache
/source/lib/composer.lock
*.php~
