{% extends 'template.twig' %}

{% block title %}404{% endblock %}

{% block body %}
    <div class="ui segment">
        <h1>Ошибка 404</h1>
        <h2>Запрашиваемая Вами страница не найдена. Сожалеем об этом.</h2>
    </div>
{% endblock %}
