<div class="ui link list">
    {% for item in list %}
            <a class="item" href="{{ urlFor('articles-show', {name:item.getName}) }}">
                {% if item is Location %}
                    <i class="marker icon"></i>
                {% elseif item is Event %}
                    <i class="calendar outline icon"></i>
                {% else %}
                    <i class="file text outline icon"></i>
                {% endif %}
                {{item.getName()}}
            </a>
    {% endfor %}
</div>
