{% extends 'template.twig' %}

{% block title %}Статья не найдена{% endblock %}

{% block body %}
    <div class="ui segment">
        <div class="ui yellow message">
            <div class="header">ОШИБКА</div>
            Запрашиваемая Вами статья ещё не существует, но вы можете помочь проекту <a href="{{urlFor('articles-create', {name: name})}}">написав её</a>.
        </div>
    </div>
{% endblock %}
