{% extends 'template.twig' %}

{% block title %}
    Версии статьи "{{name}}"
{% endblock %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui header">
            Сравнить статьи {{original.getId}} и {{new.getId}}
        </h2>

        <div class="ui segment">
            <pre style="white-space: pre-wrap;"><code class="diff hljs">{{difference}}</code>
            </pre>
        </div>
        
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            hljs.initHighlightingOnLoad();
        });
    </script>
{% endblock %}
