{% extends 'template.twig' %}

{% block title %}{{title}}{% endblock %}

{% block menuitems %}
    <div class="link item" data-bind="click: save">
        <i class="save icon"></i>
        Сохранить
    </div>
    <div class="link item" data-bind="click: uploads">
        <i class="cloud download icon"></i>
        Загруженные файлы
    </div>
    <div class="link item" data-bind="click: updatePreview">
        <i class="refresh icon"></i>
        Обновить предварительный просмотр
    </div>
{% endblock %}

{% block body %}
    <div class="ui segment">
        <div class="ui form">
            <h1>{{title}}</h1>
            <form method="post" id="article-editor">
                <input type="hidden" name="article" data-bind="value: serialized">
                <input type="hidden" name="type"    data-bind="value: article.type">
                <div class="field">
                    <input name="name" type="text" placeholder="Имя статьи..." data-bind="textInput: article.name">
                </div>
                <div class="field">
                    <select name="type" data-bind="value: article.type">
                        <option value="Article">Обычная статья</option>
                        <option value="Event">Событие</option>
                        <option value="Location">Локация</option>
                    </select>
                </div>
                <div class="field" data-bind="if: article.type() == 'Event'">
                    <input type="date" placeholder="Дата в формате ISO 8601..." data-bind="textInput: article.eventDate, inputshim">
                </div>
                <div class="field">
                    <div class="ui two column grid">
                        <div class="column">
                            <textarea id="article-content-editor" name="content" style="height: 20rem; max-height: none;" data-bind="textInput: article.content"></textarea>
                        </div>
                        <div class="column">
                            <div class="ui segment" style="min-height: 20rem;">
                                <div class="ui active inverted dimmer" data-bind="css: {active: previewIsLoading}">
                                    <div class="ui text loader">Загрузка...</div>
                                </div>
                                <div data-bind="html: preview">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            var form = document.getElementById('article-editor');
            {% if createMode %}
                vm = new HistoryWiki.EditVM({{article|raw}}, form, true);
            {% else %}
                vm = new HistoryWiki.EditVM({{article|raw}}, form, false);
            {% endif %}
            ko.applyBindings(vm);
        });
    </script>
{% endblock %}
