{% extends 'template.twig' %}

{% block title %}События{% endblock %}

{% block body %}
    <div class="ui segment">
        <h1>События</h1>
        {% include 'blocks/events-breadcrumb.twig' %}
        {% include 'articles-list.twig' with {list: list} only %}
    </div>
{% endblock %}
