{% extends 'template.twig' %}

{% block title %}Панель управления{% endblock %}

{% block body %}
<div id="application">
    {% verbatim %}

        <h3 class="ui header">Состояние</h3>
        <i class="ui huge red bug icon"></i>
        <p>"Шахматка" в разработке.</p>

        <!--ko if: roomCategories-->
            <div data-bind="dialog: {title: 'Категории номеров', close: hideRoomCategories, width: 600, height: 600}">
                <room-categories></room-categories>
            </div>
        <!--/ko-->
        <!--ko if: rooms-->
            <div data-bind="dialog: {title: 'Номеры', close: hideRooms, width: 600, height: 600}">
                <rooms></rooms>
            </div>
        <!--/ko-->

        <gridview params="items: list, columns: columns, search: log"></gridview>

    {% endverbatim %}
</div>

{% endblock %}
