{% extends 'template.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="ui segment">
        <h1>Последние статьи</h1>
        {% include 'articles-list.twig' with {list: list} only %}
    </div>
{% endblock %}
