<!DOCTYPE html>
<html>
{% use 'blocks/head.twig' %}
{% block head %}{{parent()}}{% endblock %}
<body>
    {% use 'blocks/services.twig' %}
    {% block services %}{{parent()}}{% endblock %}
    
    {% use 'blocks/menu.twig' %}
    {% block menu %}{{parent()}}{% endblock %}
    
    {% use 'blocks/errorlist.twig' %}
    {% block errorlist %}{{parent()}}{% endblock %}
    
    {% block body %}
    {% endblock %}
</body>
</html>
