<!DOCTYPE html>
<html>
{% use 'head.twig' %}
{% block head %}{{parent()}}{% endblock %}
<body>
    {% use 'blocks/services.twig' %}
    {% block services %}{{parent()}}{% endblock %}
    {% use 'blocks/menu.twig' %}
    {% block menu %}{{parent()}}{% endblock %}
    {% include 'errorlist.twig' %}
    {% block body %}
    {% endblock %}
</body>
</html>
