{% extends 'blanktemplate.twig' %}

{% block title %}Загрузить файл{% endblock %}
{% block body %}
    <div class="ui segment">
        <h1>Загрузить файл</h1>
        {% include 'upload.form.twig' %}
    </div>

{% endblock %}
