<form class="ui form segment" method="POST" enctype="multipart/form-data">
    <div class="field">
        <label>
            Выберите файл для загрузки
            <input type="file" name="uploadfile" required>
        </label>
    </div>
    <input class="ui submit button" type="submit" value="Загрузить">
</form>
