{% block menu %}
    <div id="top-menu" class="ui fixed inverted menu">
        <div class="link item" href="#" onclick="window.history.back()">
            <i class="arrow left icon"></i>
        </div>
        <a class="item" href="/">
            <i class="home icon"></i>
        </a>
        {% block menuitems %}
            <div class="ui simple dropdown item">
                <i class="green child icon"></i>
                Размещение
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">
                        Обычное
                    </a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                <i class="book icon"></i>
                Справочники
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">
                        Номерной фонд
                    </a>
                    <a class="item">
                        Клиенты
                    </a>
                    <a class="item">
                        Услуги
                    </a>
                </div>
            </div>
        {% endblock %}
        <div class="right menu">
            <a class="item" href="{{urlFor('help-index')}}">
                <i class="help icon"></i>
                Справка
            </a>
        </div>
    </div>
{% endblock %}
