# Введение
Напишите статью используя синтаксис [Markdown](https://ru.wikipedia.org/wiki/Markdown). На данном ресурсе используется его разновидность MarkdownExtra с неполной его реализацией.
За подробностями обращайтесь в раздел *Справка*.
