# Введение
Напишите статью используя синтаксис [Markdown](https://ru.wikipedia.org/wiki/Markdown). На данном ресурсе используется его разновидность MarkdownExtra с неполной его реализацией.

## Что такое Markdown
[Markdown](https://ru.wikipedia.org/wiki/Markdown) (маркдаун) — облегчённый язык разметки. Первоначально создан в 2004 году Джоном Грубером (англ. John Gruber) и Аароном Шварцем, целью которых являлось создание максимально удобночитаемого и удобного в публикации облегчённого языка разметки. Многие идеи языка были позаимствованы из существующих соглашений по разметке текста в электронных письмах. Реализации языка Markdown преобразуют текст в формате Markdown в валидный, правильно построенный XHTML и заменяют левые угловые скобки («<») и амперсанды («&») на соответствующие коды сущностей. Первой реализацией Markdown стала написанная Грубером реализация на Perl, однако спустя некоторое время появилось множество реализаций от сторонних разработчиков (см. ниже). Реализация на Perl распространяется по лицензии типа BSD. Реализации Markdown на различных языках программирования включены (или доступны в качестве плагина) во многие системы управления содержимым.

### Особенности разметки


#### Источники
* [https://ru.wikipedia.org/wiki/Markdown](https://ru.wikipedia.org/wiki/Markdown)
